* {
    border: 0;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 13px;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

#top-menu {
    margin-top: 16px;
    float: right;
    display: flex;
    padding: 0 30px 0 30px;
}

#service-links {
    display: flex;
    align-items: center;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
}

.top-text {
    padding-right: 15px;
    color: rgba(0,0,0,0.87);
}

.top-text:hover {
    text-decoration: underline;
}

#top-icons {
    display: flex;
    align-items: center;
}

#google-apps-button {
    display: inline-block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    background-image: url("/images/google_iconset.png");
    background-position: -132px -38px;
    opacity: .55;
}

#google-apps-button:hover {
    opacity: 1;
}

#user-icon {
    display: inline-block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    background-image: url("/images/user_photo.jpg");
    border-radius: 50%;
    margin-left: 15px;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
}

#logo-container {
    margin-top: 47px;
    height: 233px;
}

#logo {
    align-self: bottom;
    padding-top: 109px;
}

#search-container {
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-start;
    flex: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    width: 560px;
    background-color: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
}

#search-bar {
    display: flex;
    align-content: center;
    line-height: 34px;
    width: 527px;    
    height: 44px;
}

#search-bar input{
    width: 527px;
    height: 44px;
    background: transparent;
}

#search-container:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

#search-icon {
    flex: 1;
    display: flex;
    align-self: center;
    position: relative;
    color: #9aa0a6;
    fill: currentColor;
    width: 20px;
    height: 20px;
    line-height: 24px;
    z-index: 1;
}

#search-height {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 44px;
}

#footer-container {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#left-links {
    display: flex;
}

#right-links {
    padding-right: 0;
    display: flex;
}

.footer-content {
    padding-left: 27px;
}

.footer-line {
    display: flex;
    align-items: center;
    border-top: 1px solid #e4e4e4;
    height: 42px;    
    background-color: #F2F2F2; 
}

.footer-text {
    color: rgba(0,0,0,.54);
    font-family: arial,sans-serif;
    font-size: 15px;
}

.footer-text:hover {
    text-decoration: underline;
}

.push {
    margin-left: auto;
    padding-left: 0px;
    padding-right: 27px;
}


@media (max-height: 685px) {

    #body-container {
        position: absolute;
        width: 100%;
        height: 685px;
    }

    #footer-container {
        position: absolute;
        height: 89px;
    }
}

@media (max-width: 685px) {
    #footer-line2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .push {
        margin-left: 0;
    }
}